.DS_Store
.mplconfig/

__pycache__/
*.pyc

data/*.aux
data/*.log

FreezeOut/*.d
FreezeOut/*.so
FreezeOut/*.pcm

THERMUS/source/build/
THERMUS/source/.git
THERMUS/source/
THERMUS/**/*.o
THERMUS/**/*.d
THERMUS/**/*.so
THERMUS/**/*.pcm

scripts/thermalfist_fit/fit_by_energy
scripts/thermus_fit/fit_by_energy
